services:
  backend:
    build:
      context: ./backend
    container_name: reservation-system-backend
    ports:
      - "8080:8080"

  nginx:
    image: nginx:alpine
    container_name: reservation-system-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
